@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: whitesmoke;
}

h1{
  /* blue-600 */
  color: #1d4ed8; 
  font-weight: 800;
  font-size: 400%;
  line-height: 100%;
}

.body {
  position: fixed;
  top: 20%;
  left: 12%;
}

.body-text {
  margin-top: 20px;
}

.log-in {
  position: fixed;
  bottom: 10%;
}

.add-recipe {
  position: fixed;
  bottom: 10%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}